{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block meta %}
<title>Swab Finder</title>
{% endblock meta %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Distance from {{ location }} is:</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{{ distance }} km
			</div>
		</div>
	</div>
</div>

{{ map|safe }}
<form action="" method="POST" autocomplete="off">
	{% csrf_token %}
	{{form|crispy}}
	<button type="submit" class="btn btn-primary">Confirm</button>
</form>

<br>
This product includes GeoLite2 data created by MaxMind, available from
<a href="https://www.maxmind.com">https://www.maxmind.com</a>.


{% if request.POST and distance is not None %}
<script>
	$(window).on('load', function(){
		$('#exampleModal').modal('show')
	})
</script>
{% endif %}

{% endblock content %}
